<div class="opp-lookup-wrapper">
  <input class="form-control opp-lookup-input" 
         [value]="value" 
         placeholder="Flag code..." 
         readonly 
         (click)="toggle()">
  <span class="opp-lookup-arrow">▼</span>
  
  <div class="opp-lookup-container" [class.active]="isOpen">
    <div class="opp-search-box" (click)="$event.stopPropagation()">
      <input type="text" 
             placeholder="Search categories..." 
             [value]="searchQuery"
             (input)="onSearch($any($event.target).value)">
    </div>
    <div class="opp-list">
      <ng-container *ngFor="let opt of options">
        <div *ngIf="!isHidden(opt)"
             class="opp-item"
             [ngClass]="[opt.type, 'indent-' + opt.depth, opt['collapsed'] ? 'collapsed' : '']"
             (click)="selectOption(opt)">
          
          <span *ngIf="opt.type === 'group' || opt.type === 'subgroup'" 
                class="opp-chevron"
                (click)="toggleGroup($event, opt)">▼</span>
          
          <span *ngIf="opt.type === 'group'">📁 </span>
          <span *ngIf="opt.type === 'subgroup'">↳ </span>
          {{ opt.label }}
        </div>
      </ng-container>
    </div>
  </div>
</div>
